* {
  margin: 0;
  padding: 0; }

.todo {
  background-color: rgba(31, 4, 18, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .todo__wrapper {
    width: 50%;
    margin-bottom: 20px; }
    .todo__wrapper form {
      width: 100%;
      display: flex; }
    .todo__wrapper--input {
      width: 100%;
      padding: 5px;
      border-radius: 6px; }
    .todo__wrapper--button {
      min-width: 100px;
      margin-left: 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 6px; }
  .todo__list {
    width: 50%;
    display: inline;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: relative; }
    .todo__list--item {
      width: 100%;
      padding: 10px;
      background-color: orange;
      border-radius: 6px;
      color: white;
      display: inline-block;
      position: relative;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .todo__list--button-remove {
      min-width: 100px;
      margin-right: 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 6px;
      background-color: red;
      color: white;
      outline: none;
      display: flexbox;
      justify-content: space-between;
      float: right; }
    .todo__list--button-edit {
      min-width: 100px;
      margin-right: 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 6px;
      background-color: blue;
      color: white;
      outline: none;
      display: flexbox;
      justify-content: space-between;
      float: right; }
    .todo__list--button-save {
      min-width: 100px;
      margin-right: 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 6px;
      background-color: blue;
      color: white;
      outline: none;
      display: flexbox;
      justify-content: space-between;
      float: right; }

.none {
  display: none; }
